@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

/* small helper */
.text-primary {
  color: theme("colors.primary");
}
.bg-primary {
  background-color: #0b6e99;
}
